<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message,  class: "alert alert-#{message_type}", role: "alert") %>
<% end %>
<%if user_signed_in?%>
  <%= button_to "logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger'%>
  <%= button_to "Show Favorites", show_favorites_user_path(current_user.id), method: :get, class: 'btn btn-info'%>
<%else%>
  <%= button_to "login", new_user_session_path, method: :get, class: 'btn btn-success'%>
  <%= button_to "Signup", new_user_registration_path, method: :get, class: 'btn btn-secondary'%>
<%end%>

<%= link_to 'New Product', new_product_path %>
<div class="container mt-5">
  <h1 class="display-4 mb-4">All Products</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @products.each do |product| %>
      <div class="col">
        <div class="card h-100">
          <% if product.image.present?%>
            <%= image_tag product.image, class: 'card-img-top', alt: 'Product Image' %>
          <%end%>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><strong>Price:</strong> <%= number_to_currency(product.price) %></p>
            <%= link_to 'Details', product_path(product), class: 'btn btn-primary' %>
            <% if user_signed_in?%>
              <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-secondary me-2' %>
              <%= button_to 'Delete', product, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger', remote: true %>
            <%end%>
          <% if user_signed_in? %>
            <% if current_user.favorited_products.include?(product) %>
              <%= button_to "Remove from Favorites", unfavorite_product_path(product), method: :delete, class: 'btn btn-danger' %>
              <%= raw File.read(Rails.root.join('app/assets/images/favorite_black_24dp.svg')) %>
            <% else %>
              <%= button_to 'Add to Favorites', favorite_product_path(product), method: :post, class: 'btn btn-primary' %>
              <%= raw File.read(Rails.root.join('app/assets/images/favorite_border_black_24dp.svg')) %>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
